
body {	
	height: 100vh;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: linear-gradient(#FFFBF6, #ABC8C0);
}

h1 {
	color: #70566D;
	font-size: 5em;
	font-weight: 100;
	text-align: center;
}

main {
	width: 80%;
	margin: 0 auto;
}

ul {
	margin: 0;
}

li {
	display: block;
}

input:focus {
	outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.3;
}

::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.3;
}

:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.3;
}

:-moz-placeholder { /* Firefox 18- */
  opacity: 0.3;
}

.todo-text-sizing {
	font-size: 1.3em;
}

.todo-container {
	background-color: #FFF;
}

.new-todo {
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
}

.completed {
	text-decoration: line-through;
}

.todo-footer {
	display: flex;
	justify-content: space-between;
	font-size: 0.7em;
	padding: 1em 2em 0.5em;
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {

	main {
		width: 60%;
	}

}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) { 

	main {
		width: 40%;
	}

}