body {	
	height: 100vh;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: linear-gradient(#FFFBF6, #ABC8C0);
	background-attachment: fixed;

	display: flex;
	flex-direction: column;
}

h1 {
	color: #70566D;
	font-size: 5em;
	font-weight: 100;
	text-align: center;
}

main {
	width: 82%;
	margin: 0 auto;
	flex-grow: 1;
	flex-shrink: 0;
}

body > footer {
	margin-bottom: 2rem;
	color: #70566D;
	opacity: 0.8;
	text-align: center;
	font-size: 0.7em;
	flex-shrink: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

ul {
	margin: 0;
	padding-left: 0;
}

li {
	display: flex;
	align-items: baseline;
	padding:  0.5rem 0.5rem 0.5rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

li label {
	margin-right: auto;
	padding-left: 1rem;
}

li button {
	background-color: #FFF;
	border: none;
	height: 2rem;
	color: #CE2D4F; /* Picked as a good contrast to #ABC8C0 */
	font-size: 1em;
	font-weight: bold;
}

li:hover button {
	visibility: visible;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: none;
}

input:focus {
	outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.3;
}

::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.3;
}

:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.3;
}

:-moz-placeholder { /* Firefox 18- */
  opacity: 0.3;
}

.todo-container {
	background-color: #FFF;
	box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.new-todo-wrapper {
	position: relative;
}

.new-todo {
	width: 100%;
	padding: 0.9rem 0.75rem 0.9rem 2.6rem;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03)
}

/* Styling for the font-awesome icons */

.fa-angle-down {
	position: absolute;
	opacity: 0.2;
	font-size: 1.5em;
	margin-left: 0.7rem;
	margin-top: 0.9rem;
}

.fa-angle-down:hover {
	opacity: 0.4;
}

.fa-circle {
	opacity: 0.2;
}

.fa-circle:hover {
	opacity: 0.4;
}

.fa-check-circle {
	color: #ABC8C0;
}

/* Styling for completed todo text */
.completed label {
	text-decoration: line-through;
}

.todo-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
	padding-right: 2rem;
	font-size: 0.7em;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 
				0 8px 0 -3px #F6F6F6, 
				0 9px 1px -3px rgba(0, 0, 0, 0.2), 
				0 16px 0 -6px #F6F6F6, 
				0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-footer > span {
	margin: 1rem 0 0.5rem 2.6rem;
}

.todo-footer button {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	background-color: #FFF;
	border: none;
}

.todo-footer button:hover {
	border: 1px solid rgba(112, 86, 109, 0.5); /* RGB value of #70566D */
	border-radius: 5%;
}

.todo-footer a {
	margin: 0 0 0.75rem 2.6rem;
}

.todo-footer .selected {
	border: 1px solid #70566D;
}

/* Utility Style Classes */

.todo-text-sizing {
	font-size: 1.1em;
}

.hidden {
	visibility: hidden;
}

.display-none {
	display: none;
}

/* 
	Media Queries
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

	main {
		width: 60%;
	}

	.todo-text-sizing {
		font-size: 1.3em;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	main {
		width: 40%;
	}

}